<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/nav.ejs') %> 

    <div class="login content">
      <h2>Login Content</h2>
    </div>
  </body>
</html>
